.navigation-layout{
  background-color: @c-black_90;
}
.navigation{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 66px;
  @media (min-width: @screen-sm){
    height: 110px;
  }
  &__toogle{
    color: @c-white;
    order: 2;
    width: 50px;
    height: 25px;
    background: url(../img/menu-burger.svg) no-repeat;
    cursor: pointer;
    margin-right: 20px;
    @media (min-width: @screen-md){
      display: none;
    }
  }
  .logo{
    display: inline-block;
    order: 1;
    font-size: 0;
    width: 75px;
    height: 23px;
    background: url(../img/logotype-white-mobile.svg) no-repeat;
    margin-right: auto;
    margin-left: 20px;
    @media (min-width: @screen-sm){
      background: url(../img/logotype-white-tablet.svg) no-repeat;
      width: 146px;
      height: 40px;
      margin-bottom: 19px;
      margin-left: 19px;
    }
    @media (min-width: @screen-md){
      background: url(../img/logotype-white-desktop.svg) no-repeat;
      margin-left: 9px;
      margin-bottom: 19px;
    }
  }
  .navbar{
    position: absolute;
    width: 100%;
    left: 0;
    top: -300px;
    order: 3;
    opacity: 0;
    transition: all 300ms;
    @media (min-width: @screen-md){
      position: static;
      opacity: 1;
      width: auto;
      margin-right: 10px;
      margin-top: -1px;
    }
    &__list{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      @media (min-width: @screen-md){
        flex-direction: row;
      }
    }
    &__item{
      @media (min-width: @screen-md){
        margin-left: 68px;
      }
      a {
        display: block;
        min-height: 63px;
        line-height: 63px;
        text-decoration: none;
        color: @c-white;
        font-size: 18px;
        font-weight: bold;
        background: @c-gray-l;
        border-top: 1px solid #485461;
        box-shadow: 0 -1px 0 0 black;
        text-transform: uppercase;
        @media (min-width: @screen-md){
          background: none;
          border-top: none;
          box-shadow: none;
          font-weight: 400;
          text-transform: none;
        }
      }
      a:hover{
        border-bottom: 2px solid @c-white;
        margin-bottom: -2px;
      }
      a:active{
        border: none;
        margin-bottom:none;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
.inp-toogle:checked ~ .navbar{
  top: 68px;
  opacity: 1;
  @media (min-width: @screen-sm){
    top: 110px;
  }
}


